@import url(https://fonts.googleapis.com/css?family=Muli);

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Muli', sans-serif;
	text-align: justify;
}

header{
	background: #16A085;
	height: 130px;
	overflow: hidden;
}

footer{
	margin-top: 20px;
	background: #16A085;
	height: 50px;
}
section{
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
}

section article{
	font-size: 0.9rem;
	height: 340px;
	width: 32.33%;
	margin: 0.5%;
	float: left;
	border: 2px dashed #16A085;
	box-sizing: border-box;
	padding: 1%;
	overflow: hidden;
}

section article img{
	max-width: 80%;
	height: 180px;
	margin: 5px auto;
	display: block;

	
}

section article h3{
	text-align: center;

	
}
header div, footer div{
	width: 80%;
	margin: 0 auto;
	color: white;
}

h1{
	font-size: 2.3rem;
	margin-bottom: 1rem;
	padding-top: 0.5rem;
}

h2{
	font-size: 2rem;
}

footer div{
	padding-top: 1rem;
}