*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

html{
    font-size: 50px;
}
h1{
    font-size: 2em;
}

p{
    background-color: aliceblue;
}

.noticia{
    background-color: darkgrey;
}

p.noticia{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.destacado{
    font-weight: bold;
}

#titulo{
    color:white;
    font-weight: bold;
    background-color: #00FF00;
    padding: 50px 2px; 
}